/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #292929; 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
  background: url('./assets/img/black-1072366_1280.jpg') center/cover; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white; /* Color del texto dentro del main */
}

h1 {
  margin-bottom: 20px;
}

/* Estilos para el ContadorForm y ContadorList */

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

select {
  padding: 8px;
  margin-right: 10px;
}

/* Estilos para colocar nombre y marca uno al lado del otro */
.div-inputs {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

